h1 {
  border: 50px;
  background-color: powderblue;
  text-align: center;
}

body {
    /* The image used */
    background-image:url("paper.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
